* {
  box-sizing: border-box;
}

html,
body,
#app {
  height: 100vh;
}

html {
  min-width: 1280px;
}

.container {
  padding-right: 20px;
  padding-left: 20px;
  margin-right: auto;
  margin-left: auto;
  width: 1280px;
}
