html,
body,
#app {
  height: 100%;
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
  background-color: rgb(250, 250, 250);

}

html.dark {
  background:  rgb(18, 18, 18);
}

/* Reset scrollbar */
::-webkit-scrollbar {
    height: 12px;
    width: 12px
}

::-webkit-scrollbar-thumb {
    border: 3px dashed transparent;
    border-radius: 20px;
    background: rgba(158, 166, 183, 0.7);
    background-clip: content-box
}

::-webkit-scrollbar-thumb:hover {
    background: rgba(158, 166, 183, 0.7);
}

/* Nprogress */
#nprogress {
  pointer-events: none;
}

#nprogress .bar {
  background: rgb(13, 150, 139);
  opacity: 0.75;
  position: fixed;
  z-index: 1031;
  top: 0;
  left: 0;
  width: 100%;
  height: 2px;
}
