/* Custom Property */
:root {
  /* colors */
  --light-background: hsl(0, 0%, 98%);
  --dark-background: hsl(0, 0%, 7%);
  --light-gray-1: hsl(0, 0%, 80%);
  --light-gray-2: hsla(222, 15%, 67%, 0.7);
  --light-gray-3: hsla(222, 15%, 67%, 0.4);
  --white: hsl(0, 0%, 100%);
  --green-1: hsl(175, 84%, 32%);
}

html,
body,
#app {
  height: 100%;
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
  background-color: var(--light-background);
}

html.dark {
  background: var(--dark-background);
}

/* Reset scrollbar */
::-webkit-scrollbar {
    height: 12px;
    width: 12px
}

::-webkit-scrollbar-thumb {
    border: 3px dashed transparent;
    border-radius: 20px;
    background: var(--light-gray-3);
    background-clip: content-box
}

::-webkit-scrollbar-thumb:hover {
    background: var(--light-gray-2);
}

/* Nprogress */
#nprogress {
  pointer-events: none;
}

#nprogress .bar {
  background: var(--green-1);
  opacity: 0.75;
  position: fixed;
  z-index: 1031;
  top: 0;
  left: 0;
  width: 100%;
  height: 2px;
}
