:root {
  --docs-z-index-header: 20;
  --docs-z-index-sidebar: 50;

  --docs-max-width: 1376px;
}

:root {
  --docs-header-height: 55px;
  --docs-sidebar-width: 240px;
}

:root {
  --docs-c-white: #ffffff;
  --docs-c-gray: #8e8e8e;
  --docs-c-green: #42b883;
  --docs-c-indigo: #213547;
}

:root {
  --docs-c-bg: var(--docs-c-white);
  --docs-c-text: var(--docs-c-indigo);
}
