:root {
  --hbs-blank-width: 18px;
  --hbs-max-width: 1376px;
  --hbs-header-height: 55px;
  --hbs-sidebar-width: 272px;
}

:root {
  --hbs-c-white: #fff;
  --hbs-c-gray: #f9f9f9;
  --hbs-c-primary: #1890ff;
  --hbs-c-primary-light: #e6f7ff;
}

:root {
  --hbs-c-bg: var(--hbs-c-white);
  --hbs-c-bg-gray: var(--hbs-c-gray);
  --hbs-c-bg-primary: var(--hbs-c-primary);
  --hbs-c-bg-primary-light: var(--hbs-c-primary-light);
  --hbs-c-border: rgba(60, 60, 60, .12);
  --hbs-c-text-primary: var(--hbs-c-primary);
}
