:root {
  --docs-max-width: 1376px;
  --docs-header-height: 55px;
  --docs-sidebar-width: 260px;
}

:root {
  --docs-c-white: #ffffff;
  --docs-c-gray: #f0f2f5;
  --docs-c-light-gray: #3c3c3c;
  --docs-c-red: red;
}

:root {
  --docs-c-bg: var(--docs-c-white);
  --docs-c-bg-gray: var(--docs-c-gray);
  --docs-c-text: #333;
  --docs-c-border: var(--docs-c-light-gray);
}
